/* components/Header.module.css */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 50;
  transition: box-shadow 0.2s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navigation {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #555;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.navigation a:hover {
  color: #0070f3;
}

.actionIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #333;
}

.cartIcon {
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.cartCount {
  position: absolute;
  top: 0px;
  right: -2px;
  background-color: #0070f3;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 101;
}

.mobileOnly {
  display: none;
}

.mobileMenuLink {
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 8px;
  text-align: start;
  width: 100%;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}


@media (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    gap: 1.5rem;
    padding: 20px;
    
  }
  .navigation.menuOpen {
    transform: translateX(0);
  }

  .actionIcons .iconButton, .actionIcons .cartIcon {
    display: none;
  }
  
  .actionIcons .cartIcon {
    display: block;
  }
  
  .hamburger {
    display: block;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobileOnly {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    margin-bottom: 2rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
.activeLink {
  font-weight: 600; 
  color: #000; 
}
.logoImage {
  height: 60px; 
  width: auto; 
  display: block; 
}
@media (max-width: 768px) {
  .logoImage { height: 50px;}
}