/* components/SearchOverlay.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10000;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  backdrop-filter: blur(5px);
}

.searchContainer {
  width: 100%;
  max-width: 600px;
  position: relative;
  height: fit-content;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}

.searchInput {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  outline: none;
}
.searchInput:focus {
  border-bottom-color: #333;
}

.resultsContainer {
  margin-top: 2rem;
  max-height: 70vh;
  overflow-y: auto;
}

.resultsContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resultsContainer li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.resultsContainer li a:hover {
  background-color: #f0f0f0;
}

.resultsContainer img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 4px;
}